/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  padding: 10px 0;
  background: #484848; }
  header .user_area {
    text-align: right; }
    header .user_area span {
      display: inline-block; }
      header .user_area span a:nth-child(1) {
        display: inline-block;
        padding: 0 10px 0 0;
        color: #fff; }
      header .user_area span a:nth-child(2) {
        color: red;
        text-decoration: underline; }

.main_ttl {
  padding: 30px 0;
  font-size: 18px;
  font-weight: bold; }
  .main_ttl h1 {
    text-align: center; }

form {
  text-align: center; }
  form .form_info_wrap {
    display: inline-block; }
    form .form_info_wrap dl dt {
      float: left; }
    form .form_info_wrap dl dd {
      padding: 0 0 20px 150px; }
      form .form_info_wrap dl dd input {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
    form .form_info_wrap dl dd.birthyear input {
      width: auto; }

.back {
  text-align: left; }

.new_register {
  text-align: right;
  padding: 0 0 20px 0; }

.usertable {
  padding: 30px 0 0 0;
  overflow-y: scroll; }
  .usertable table {
    width: 960px; }
    .usertable table th {
      background: #484848;
      color: #fff;
      padding: 10px;
      border-left: 1px solid #fff; }
      .usertable table th:first-child {
        border-left: 1px solid #484848; }
      .usertable table th:last-child {
        border-right: 1px solid #484848; }
    .usertable table td {
      padding: 10px;
      border-left: 1px solid #484848;
      border-bottom: 1px solid #484848; }
      .usertable table td .edit {
        display: inline-block; }
      .usertable table td .detail {
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 3px 20px;
        color: #fff;
        background: #1559ec; }
      .usertable table td .update {
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 3px 20px;
        color: #fff;
        background: #1eec16; }
      .usertable table td .delete {
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 3px 20px;
        color: #fff;
        background: #ec1717; }
      .usertable table td:last-child {
        text-align: center;
        border-right: 1px solid #484848; }

.user_info {
  text-align: center; }
  .user_info .user_info_inner {
    display: inline-block; }
    .user_info .user_info_inner dl dt {
      float: left;
      font-weight: bold; }
    .user_info .user_info_inner dl dd {
      padding: 0 0 20px 150px; }

.confirm_txt {
  text-align: center; }
  .confirm_txt p {
    display: inline-block;
    text-align: left; }

.submit {
  text-align: center;
  padding: 30px 0; }
  .submit input {
    display: inline-block;
    width: 100px;
    height: 30px; }
  .submit input.ok {
    margin: 0 0 0 30px; }

@media screen and (min-width: 961px) {
  .page_body {
    width: 960px;
    margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
